$desktop-donor-cta-height: 6rem;

.DonorCTA {
  border-top: 2px solid color('black');

  @include media('md') {
    height: $desktop-donor-cta-height;
  }

  &__copy {
    flex-grow: 1;
  }

  &__arrow {
    margin-bottom: -0.5rem;
  }
}
