.Footer {
  margin-top: 10rem;

  padding-bottom: calc(#{$footer-bg-text-height} - #{$mobile-overlap});

  @include media('md') {
    padding-bottom: calc(#{$footer-bg-text-height} - #{$desktop-overlap});
  }

  &__background-text {
    width: $footer-bg-text-width;
    height: $footer-bg-text-height;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.FooterContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include media('md') {
    grid-template-columns: repeat(4, 1fr);
  }

  &__section-nav {
    grid-row: 1;
    grid-column: 1;
  }

  &__section-contact-and-media {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    @include media('md') {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__section-design-and-social {
    grid-column: 2;
    grid-row: 1;

    @include media('md') {
      grid-row: 1;
      grid-column: 3;
    }
  }

  &__section-about {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    @include media('md') {
      grid-row: 2;
      grid-column-start: 1;
    }
  }

  &__paid-for-by {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    @include media('md') {
      grid-column-end: 3;
    }

    p {
      border: 1px solid color('white');
    }
  }
}
