.Header {
  transform: translate3d(0, calc((100% - #{$topnav-height}) * -1), 0);
  transition: 1s ease-in-out;
  top: 0;

  @include media('md') {
    transform: translate3d(
      0,
      calc((100% - (#{$topnav-height} + #{$desktop-donor-cta-height})) * -1),
      0
    );
  }

  &__signup-active {
    transform: translate3d(0, 0, 0);
  }
}
