$hero-padding-top: $topnav-height + 1rem;

.Hero {
  padding-top: calc(#{$mobile-site-title-height});

  @include media('md') {
    padding-top: calc(#{$hero-padding-top} + #{$desktop-donor-cta-height});
  }
}
