.Signup {
  position: relative;
  z-index: 100;

  &__close-icon-container {
    top: 16px;
    right: 9px;
    border: none;
    height: auto;
  }

  &__input-label {
    flex-grow: 1;
  }

  &__input-error {
    color: color('error');
  }

  &__submit-button {
    height: auto;
    border: 2px solid color('black');

    &:hover {
      background-color: color('black');
      color: color('white');
      transition: background-color 0.1s ease-in-out;
    }
  }
}
