$mobile-site-title-top: 5rem;
$mobile-site-title-height: 36vw;
$desktop-site-title-height: 8.43vw;
$desktop-site-title-top-without-full-header: 5rem;
$desktop-site-title-top-with-full-header: 32rem;

.SiteTitle {
  width: 90vw;
  top: $mobile-site-title-top;
  z-index: -1;

  @include media('md') {
    margin-top: 5rem;
    z-index: 3;
    position: sticky;
    width: 80vw;
    top: $desktop-site-title-top-without-full-header;
  }

  &__full-header-is-shown {
    @include media('md') {
      top: $desktop-site-title-top-with-full-header;
    }
  }
}
