$topnav-height: 3rem;

.TopNav {
  height: 100vh;

  border-top: 2px solid color('black');
  border-bottom: 2px solid color('black');

  &__mobile-bar {
    height: $topnav-height;
  }

  @include media('md') {
    height: $topnav-height;
    width: auto;
  }

  &__nav-item-text {
    line-height: $topnav-height;
  }

  &__nav-item-action {
    @include media('md') {
      border-right: 2px solid color('black');
      height: $topnav-height;
    }

    :hover {
      border-top: 2px solid color('black');
      border-bottom: 2px solid color('black');
      background-color: #eeeeee;
      transition: background-color 0.1s ease-in-out;
    }
  }

  &__social-media-icon {
    :hover {
      opacity: 0.8;
      transition: opacity 0.1s ease-in-out;
    }
  }

  &__nav-item {
    @include media('md') {
      border-right: 2px solid color('black');
      height: $topnav-height;
    }
  }

  &__social-media {
    border-top: 2px solid color('black');
    width: 100%;

    @include media('md') {
      width: auto;
      border-top: none;
    }
  }

  &__language-button {
    width: $topnav-height;
    height: $topnav-height;
    z-index: 1;

    &--selected {
      position: relative;

      &::after {
        content: '';
        border-radius: 50%;
        z-index: -1;
        background: color('green');
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: calc(50% - 1.2rem);
        left: calc(50% - 1.2rem);
      }
    }
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  &__hamburger-container {
    border-left: 2px solid color('black');
  }

  &__mobile-container {
    position: fixed;
  }
}
