$topnav-height: 3rem;
$mobile-site-title-top: 4rem;
$mobile-site-title-height: 36vw;
$desktop-site-title-height: 8.43vw;
$desktop-site-title-top-without-full-header: 4rem;
$desktop-site-title-top-with-full-header: 33.8rem;
$desktop-donor-cta-height: 6rem;

$subnav-height: calc(
  #{$desktop-site-title-top-without-full-header} + #{$desktop-donor-cta-height} +
    #{$desktop-site-title-height}
);
$hero-padding-top: $topnav-height + 1rem;

$footer-bg-text-width: 100vw;
$footer-bg-text-height: 48.8vw;
$desktop-overlap: calc(#{$footer-bg-text-height} / 3 * 1.7);
$mobile-overlap: calc(#{$footer-bg-text-height} / 3 * 1.2);

body {
  background: linear-gradient(180deg, #ffffff 35%, color('yellow') 65%);
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  background: transparent;
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  border: none;
  border-bottom: 2px solid color('black');
  outline: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
