body {
  background: linear-gradient(180.86deg, #ffffff 34.72%, #fff500 65.02%);
}

button {
  box-shadow: none;
  background: transparent;
  outline: none;
}

input {
  border: none;
  border-bottom: 2px solid color('black');
  outline: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
