body {
  background: linear-gradient(180deg, #ffffff 35%, color('yellow') 65%);
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  background: transparent;
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  border: none;
  border-bottom: 2px solid color('black');
  outline: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
