.franklin-gothic {
  font-family: 'ITC Franklin Gothic Std';
}

.text-xl {
  font-size: 2.6rem;
  line-height: 3rem;

  @include media('md') {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

.text-lg {
  font-size: 2.6rem;
  line-height: 3rem;
}

.text-md {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.text-sm {
  font-size: 1.3rem;
  line-height: 1.6125rem;
}
