@font-face {
  font-family: 'DrukCond-Super';
  src: url('../assets/fonts/DrukCond-Super-Web.woff');
  src: url('../assets/fonts/DrukCond-Super-Web.woff2') format('woff'),
    url('../assets/fonts/DrukCond-Super.otf') format('truetype');
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url('/assets/fonts/39B6F2_0_0.eot');
  src: url('/assets/fonts/39B6F2_0_0.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/39B6F2_0_0.woff'),
    url('../assets/fonts/39B6F2_0_0.woff2') format('woff'),
    url('../assets/fonts/39B6F2_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url('/assets/fonts/39B6F2_1_0.eot');
  src: url('/assets/fonts/39B6F2_1_0.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/39B6F2_1_0.woff'),
    url('../assets/fonts/39B6F2_1_0.woff2') format('woff'),
    url('../assets/fonts/39B6F2_1_0.ttf') format('truetype');
  font-style: italic;
}

.franklin-gothic {
  font-family: 'ITC Franklin Gothic Std';
}

.drunkcond-super {
  font-family: 'DrukCond-Super';
}

.text-h1 {
  font-size: 4.5rem;
  line-height: 4.8rem;

  @include media('md') {
    font-size: 10.5rem;
    line-height: 10.8rem;
  }
}

.text-xxl {
  font-size: 1.7rem;
  line-height: 2rem;
  @include media('md') {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

.text-xl {
  font-size: 2.6rem;
  line-height: 3rem;

  @include media('md') {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

.text-lg {
  font-size: 2.6rem;
  line-height: 3rem;
}

.text-md {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.text-sm {
  font-size: 1.3rem;
  line-height: 1.6125rem;
}
